* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

/* ---------------- header ------------------- */
.navbar {
  background-color: #FAC8C3;
  height: 132px;
}
.navbar-brand {
  width: 165px;
}
.navbar-brand:hover {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.35));
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}
.navbar-toggler {
  color: #4D6AB2;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  align-items: center;
}
.navbar-toggler-icon {
  color: #4D6AB2;
  padding: auto;
  position: relative;
  right: 2px;
}
.navbar .nav-item .nav-link {
  font-family: "Chivo", sans-serif;
  font-weight: 700;
  color: #4D6AB2;
  font-size: 1.1rem;
  background-color: #FAC8C3;
  justify-content: center;
}
.navbar .nav-item .nav-link:hover {
  color: #F06251;
}
.navbar-collapse {
  text-align: center;
}
.navbar ul {
  justify-content: center;
}
.navbar a {
  text-decoration: none;
  color: black;
}

/* ---------------- PAGINA BRAND IDENTITY BASE------------------- */
.encabezado__general h1 {
  color: white;
  font-family: "Chivo", sans-serif;
  background-color: #87C0F4;
  font-weight: 700;
  height: 142px;
  padding-left: 2rem;
  padding-top: 3rem;
  margin: 0px;
}
@media (min-width: 1024px) {
  .encabezado__general h1 {
    font-weight: 700;
    height: 295px;
    padding-left: 100px;
    padding-top: 100px;
    font-size: 3.3rem;
  }
}

.portfolio {
  background-color: #FFF1E7;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #737373;
  font-family: "Chivo", sans-serif;
}
.portfolio__hover:hover {
  transform: scale(1.05);
  transition-timing-function: ease;
}
.portfolio img {
  max-width: 500px;
}
.portfolio H4 {
  font-size: 1rem;
  margin-top: 5px;
}
@media (min-width: 1024px) {
  .portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 100px;
  }
}

/* ---------------- PAGINA LOGO DESIGN------------------- */
.encabezado__general .h1-logo-design {
  background-color: #F06251;
}

/* ---------------- PAGINA MOTION & VIDEO------------------- */
.encabezado__general .h1-motion {
  background-color: #4D6AB2;
}

.video-style {
  max-height: 90vh;
  align-content: center;
}

/* ---------------- PAGINA UX UI------------------- */
.encabezado__general .h1-ux {
  background-color: #FFA68A;
}

/* ---------------- PAGINA EDITORIAL------------------- */
.encabezado__general .h1-editorial {
  background-color: #1A3E66;
}

/* ---------------- PAGINA ENVIROMENTAL------------------- */
.encabezado__general .h1-enviromental {
  background-color: #F9B82D;
}

/* ---------------- PAGINA SOCIAL MEDIA------------------- */
.encabezado__general .h1-social {
  background-color: #82C4B4;
}

/* ---------------- main FOOTER ------------------- */
.footer {
  background-color: #4D6AB2;
  font-family: "Chivo", sans-serif;
  color: white;
}
.footer__container-img {
  display: none;
}
.footer_container ul li a {
  color: white;
}
.footer i {
  font-size: 1.5rem;
  margin: 0px;
}
.footer__h2 {
  margin: 40px auto 5px auto;
}
.footer__list {
  margin: 30px auto;
}
@media (min-width: 768px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 435 px;
  }
  .footer__container-img {
    display: block;
    align-content: baseline;
    position: relative;
    padding-top: 30px;
    height: auto;
  }
  .footer__img {
    height: 397px;
    bottom: 0px;
    left: -100px;
  }
  .footer__container {
    position: relative;
  }
}

/* ---------------- section ppal index------------------- */
.presentacion {
  display: flex;
  flex-direction: column;
}
.presentacion__texto {
  background-color: #F27658;
  color: white;
  font-family: "Chivo", sans-serif;
  text-align: center;
  padding: 2rem;
}
.presentacion__img {
  display: flex;
}
.presentacion h1 {
  font-size: 2rem;
  font-weight: 700;
}
.presentacion__h2 {
  font-size: 2rem;
  font-weight: 700;
}
.presentacion h3 {
  padding-top: 0.5rem;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .presentacion {
    display: grid;
    grid-template-columns: 40% 60%;
  }
  .presentacion__texto {
    text-align: left;
    padding-top: 75px;
    padding-left: 75px;
    padding-right: 75px;
  }
  .presentacion h1 {
    font-size: 2.5rem;
  }
  .presentacion__h2 {
    font-size: 3.5rem;
    font-weight: 700;
  }
  .presentacion h3 {
    font-size: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .presentacion h1 {
    font-size: 4rem;
  }
  .presentacion h3 {
    font-size: 2rem;
  }
  .presentacion__texto {
    padding: 100px;
  }
}

/* ---------------- Frase destacada azul index ------------------- */
.frase-azul {
  background-color: #1A3E66;
  color: white;
  font-family: "Chivo", sans-serif;
  font-style: italic;
  padding: 2rem;
  text-align: center;
}
@media (min-width: 1024px) {
  .frase-azul {
    background-color: transparent;
    background-image: url(../img/frase-azul.svg);
    font-size: 1.8rem;
    height: 363px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .frase-azul__texto p {
    position: relative;
    top: 10px;
    padding-right: 4rem;
    padding-left: 4rem;
  }
}

/* ---------------- section projects index------------------- */
.projects {
  background-color: #FFF1E7;
  padding: 50px 100px;
  font-family: "Chivo", sans-serif;
  font-weight: 700;
}
.projects__categorias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.projects__categorias a {
  text-align: center;
  width: 295px;
  height: 100px;
  align-items: center;
  padding-top: 2rem;
  color: white;
}
.projects__categorias a:hover {
  font-size: 1.2rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.projects__categorias img {
  max-width: 295px;
  filter: grayscale(100%);
}
.projects__categorias img:hover {
  filter: grayscale(0%);
}
.projects__brand, .projects__enviromental, .projects__social, .projects__editorial, .projects__ux-ui, .projects__motion, .projects__logo {
  display: flex;
  flex-direction: column-reverse;
  margin-right: 20px;
  margin-bottom: 20px;
}
.projects__brand a, .projects__enviromental a, .projects__social a, .projects__editorial a, .projects__ux-ui a, .projects__motion a, .projects__logo a {
  background-color: #87C0F4;
}
.projects__brand a:hover .projects__img--brand, .projects__enviromental a:hover .projects__img--brand, .projects__social a:hover .projects__img--brand, .projects__editorial a:hover .projects__img--brand, .projects__ux-ui a:hover .projects__img--brand, .projects__motion a:hover .projects__img--brand, .projects__logo a:hover .projects__img--brand {
  filter: grayscale(0%);
}
.projects h2 {
  color: #4D6AB2;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  font-weight: 700;
}
.projects__logo a {
  background-color: #F06251;
}
.projects__motion a {
  background-color: #4D6AB2;
}
.projects__ux-ui a {
  background-color: #FFA68A;
}
.projects__editorial a {
  background-color: #1A3E66;
}
.projects__social a {
  background-color: #82C4B4;
}
.projects__enviromental a {
  background-color: #F9B82D;
}

/* ---------------- PAGINA ABOUT ME------------------- */
.aboutme {
  background-color: #87C0F4;
  font-family: "Chivo", sans-serif;
  padding: 2rem;
}
.aboutme__txt h1 {
  font-size: 2rem;
  font-weight: 700;
  color: white;
}
.aboutme__txt p {
  color: #1A3E66;
  font-weight: 700;
  font-size: 0.9rem;
  margin-top: 25px;
}
.aboutme__img {
  margin-top: 50px;
}
.aboutme__blue-container {
  background-color: #4D6AB2;
  height: auto;
}
@media (min-width: 1024px) {
  .aboutme {
    display: grid;
    grid-template-columns: 65% 35%;
    padding: 100px;
  }
  .aboutme__txt {
    padding-right: 75px;
  }
  .aboutme__txt h1 {
    font-size: 3.2rem;
  }
  .aboutme__txt p {
    font-size: 1.2rem;
    margin-top: 25px;
  }
  .aboutme__blue-container {
    height: auto;
  }
  .aboutme__img {
    position: relative;
    top: 190px;
  }
}

/* ---------------- PAGINA CONTACTO------------------- */
/* ---------------- main formulario------------------- */
.form {
  background-color: #FFF1E7;
  font-family: "Chivo", sans-serif;
  padding: 2rem;
}
.form__body {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: auto;
}
.form__body input {
  border: #4D6AB2 2 solid 1px;
  padding: 0.5rem;
}
.form__body textarea {
  border: #4D6AB2 solid 1px;
  padding: 0.5rem;
}
.form__body label {
  color: #4D6AB2;
  font-weight: 400;
}
.form__btn {
  background-color: #4D6AB2;
  border-radius: 8px;
  width: 120px;
  color: white;
  margin: auto;
  border-width: 0px;
}
.form h3 {
  color: #1A3E66;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 30px;
}
@media (min-width: 1024px) {
  .form {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 100px;
  }
  .form__body {
    grid-column: 6/13;
    margin: 0px;
    max-width: 800px;
  }
  .form h3 {
    grid-column: 1/4;
    text-align: left;
    font-size: 2rem;
  }
}

/*# sourceMappingURL=styles.css.map */
